.eye-icon {
    width: 16px; /* Задайте подходящий размер */
    height: auto; /* Сохраняет пропорции изображения */
    display: inline-block; /* Для корректного отображения в строке */
    vertical-align: middle; /* Выравнивание с текстом */
}
