<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ action | capitalize }}</title>
</head>
<body>
    <h1>{{ "Регистрация" if action == "register" else "Вход" }}</h1>
    <form method="POST">
        <label for="username">Логин:</label>
        <input type="text" name="username" id="username" required>
        <br>
        <label for="password">Пароль:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <button type="submit">{{ "Зарегистрироваться" if action == "register" else "Войти" }}</button>
    </form>
    <br>
    <a href="{{ url_for('register') if action == 'login' else url_for('login') }}">
        {{ "Регистрация" if action == "login" else "Вход" }}
    </a>
</body>
</html>
